<div class="container">
  <div class="header">
    <label for="title">Whether App.</label>
    <img alt="Whether" src="../assets/images/weather.png" />
  </div>
  <div class="search">
    <input #cityName placeholder="Enter Your City..." type="text" />
    <button (click)="getWhether()" class="btn-search">Search City</button>
  </div>
  <h1 *ngIf="!isDataCome">No City Search Yet!</h1>
  <div *ngIf="isLoading" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- *ngIf="isDataCome" -->
<main *ngIf="isDataCome">
  <div class="card-1">
    <p>{{_cityName}}</p>
    <img [src]="getImage(checkDay)" alt="Day or night" />
    <p id="p2">{{getDay(checkDay)}}</p>
  </div>
  <div class="gap"></div>

  <div class="card-2">
    <ul *ngFor="let item of Wether">
      <li>
        Tempreture:
        <span>{{item.temp_c}}&#8451;</span>
      </li>
      <li>
        Whether:
        <span>{{item.condition.whether}}</span>
      </li>
      <li>
        Cloudy:
        <span>{{item.cloudy === 1 ? 'Cloudy' : 'No Clouds'}}</span>
      </li>
      <li>
        Time:
        <span>{{item.time | customDate}}</span>
      </li>
      <li>
        Date:
        <span>{{item.date}}</span>
      </li>
    </ul>
    <ul *ngFor="let item of Wether">
      <li>
        Wind-Dire:
        <span>{{item.wind.wind_dir}}</span>
      </li>
      <li>
        Wind-Kph:
        <span>{{item.wind. wind_kph}}Kph</span>
      </li>
      <li>
        Wind-Mph:
        <span>{{item.wind.wind_mph}}Mph</span>
      </li>
    </ul>
  </div>
</main>

<!-- DAta -->
